.container {
    display: flex;
    padding: 100px 100px;


    .sectionTitle {
        width: 200px;
        text-align: right;
        margin-right: 150px;
        text-transform: uppercase;
    }

    .sectionContent {
        max-width: 650px;
        text-align: left;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        padding: 100px 50px;

        .sectionTitle {
            width: 150px;
            margin-right: 50px;
        }
    }
}


@media only screen and (max-width: 955px) {
    .container {
        flex-direction: column;


        .sectionTitle {
            text-align: left;
            margin-bottom: 1rem
        }
    }
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 100px 25px;

        .sectionTitle {
            width: 150px;
            margin-right: 30px;
        }
    }
}