.projectCardContainer {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.detailsContainer {

    a {
        display: flex;
        flex-direction: column;
        color: var(--text-color);
        font-family: 'Roboto Mono', monospace;
        transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
        padding: 1rem;
        border-radius: 10px;

        h3 {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        
    }

    a:hover {
        transform: scale(1.05);
        background-color: rgba(231, 230, 230, 0.3)
    }
}



.description {
    font-size: 1rem;
    color: var(--footer-text-color);
    text-align: left;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 850px) {

    .detailsContainer {
        p {
            font-size: 0.9rem;
        }
    }

}

@media only screen and (max-width: 400px) {

    .detailsContainer {
        p {
            font-size: 0.8rem;
        }
    }

}