.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .aboutMeCardContainer {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1150px) {
    .aboutMeCard {
        h3 {
            font-size: 20px;
        }
    }
}
