.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90dvh; /* 100% of device height */
    min-height: 500px;
    padding: 0 2rem;
    margin: 0 auto;

    .hero {
        max-width: 200px;
    }

    span {
        display: flex;
        gap: 25px;
        justify-content: center;

        a {
            margin: 0;

            img { 
                width: 30px;
            }
        }
    }

    a {
        width: fit-content; /* Box will use the available space */
        align-self: center;
    }

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        width: 126px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
}

.colorModeContainer {
    position: relative;
}

.colorMode {
    position: absolute;
    right: 0; /* Pushes button to right most side of container */
    width: 25px;
    background-color: var(--base-variant);
    padding: 0.5rem;
    border-radius: 50%;
    transition: transform 200ms ease-in-out;
}

.colorMode:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.colorMode:active {
    transform: translateY(2px);
}

.description {
    max-width: 50ch;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

@media only screen and (min-width: 985px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        .hero {
            max-width: 350px;
            width: 350px;
        }

        /* .info {
            margin-right: 100px;
        } */
    }
}

@media only screen and (max-width: 1080px) {
    .container {

        .info {

            h1 {
                font-size: 32px;
            }
    
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }

        }
        
    }
}

@media only screen and (min-width: 1400px) {
    .container {

        .hero {
            max-width: 400px;
            width: 400px;
        }
    }
}
